/* body {
	background: url('../img/sampleBG.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
} */

/*  ------------  FIXING FOOTER AT BOTTOM RIGHT OF PAGE  ------------ */
#footer {
	position: fixed;
	bottom: 2px;
	right: 2px;
}
