<div class="modal-content">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center">Forgot Password</h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Retrieval Details</h3>
					</div>
					
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="user/email">Username / Email Address</label>
							<div class="controls">
								<input data-bind="textInput: retrievalKey" type="text" id="user/email" name="user/email" placeholder="" class="form-control input-lg autofocus">
								<p class="help-block">Input your username or email address to retrieve your account.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" data-bind="click: retrieve">Retrieve</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
	</form>
</div>