<div class="modal-content modal-lg">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center">Change Password</h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Password Details</h3>
					</div>
					
					<div class="panel-body">
						<div class="control-group">
							<label class="control-label" for="oldPassword">Old Password</label>
							<div class="controls">
								<input data-bind="textInput: passwordFormModel.oldPassword" type="password" id="oldPassword" name="oldPassword" placeholder="" class="form-control input-lg autofocus">
								<p data-bind="text: errors.oldPassword" class="text-danger"></p>
								<p class="help-block">Input your current password</p>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="password">New Password</label>
							<div class="controls">
								<input data-bind="textInput: passwordFormModel.password" type="password" id="password" name="password" placeholder="" class="form-control input-lg">
								<p data-bind="text: errors.password" class="text-danger"></p>
								<p class="help-block">Password should be at least 6 to 20 characters</p>
							</div>
						</div>
		
						<div class="control-group">
							<label class="control-label" for="confirmPassword">Confirm Password</label>
							<div class="controls">
								<input data-bind="textInput: passwordFormModel.confirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="" class="form-control input-lg">
								<p data-bind="text: errors.confirmPassword" class="text-danger"></p>
								<p class="help-block">Please confirm password</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  
		<div class="modal-footer">
			<button class="btn btn-primary" data-bind="click: changePassword">Change Password</button>
	        <button class="btn btn-warning" data-bind="click: cancel">Cancel</button>
		</div>
	</form>
</div>