<div class="modal-content">
  	<form>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" data-bind="click: cancel">&times;</button>
			<h3 align="center">Update <span data-bind="text: name"></span>'s Data</h3>
		</div>
	  
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-primary btn-block" data-bind="click: editInformation"><i class="fa fa-info-circle aria-hidden="true""></i> Information</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-success btn-block" data-bind="click: editPhoto"><i class="fa fa-picture-o aria-hidden="true""></i> Photo</button>
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-info btn-block" data-bind="click: editDependents"><i class="fa fa-child" aria-hidden="true"></i> Dependents</button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-info btn-block" data-bind="click: editEmployment"><i class="fa fa-briefcase" aria-hidden="true"></i> Employments</button>
				</div>
			</div>
		</div>
  
		<div class="modal-footer">
	        <button class="btn btn-warning" data-bind="click: cancel">Done</button>
		</div>
  	</form>
</div>